body {
  height: 100vh;
  background: rgb(3,3,3);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(3,3,3,1)), color-stop(28%, rgba(0,0,0,1)), color-stop(94%, rgba(24,24,24,1)));
  background: -o-linear-gradient(left, rgba(3,3,3,1) 8%, rgba(0,0,0,1) 28%, rgba(24,24,24,1) 94%);
  background: linear-gradient(90deg, rgba(3,3,3,1) 8%, rgba(0,0,0,1) 28%, rgba(24,24,24,1) 94%);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
  }
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@-webkit-keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes App-logo-spin {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.container-logo-dad {
  background-color: white;
  background-image: url(./assets/images/logo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 20vh;
}

.container-menu-food {
  height: 100%;
  width: 100%;
}

.menu {
  background-color: white;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 64vh;
  width: 100%;
  border-bottom: 0.5px solid black;
}

/* IMG FOR THE FOOD */
#first-menu {
  background-image: url('./assets/images/img1.png');
}

#second-menu {
  background-image: url('./assets/images/IMG2.png');
}

#third-menu {
  background-image: url('./assets/images/IMG3.png');
}

#forth-menu {
  background-image: url('./assets/images/IMG4.png');
}

#fifth-menu {
  background-image: url('./assets/images/IMG5.png');
}

#sixth-menu {
  background-image: url('./assets/images/IMG6.png');
}

.menu-header {
  background-color: black;
  height: 10vh;
}

.menu-list {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin: 0 auto;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.link-navbar {
  font-size: 0.75rem;
  text-decoration: none;
  color: white;
  font-family: 'Nothing You Could Do', cursive;
}

.link-navbar:hover {
  cursor: pointer;
  font-size: 1.2rem;
  text-decoration: none;
  color: whitesmoke;
  border-bottom: 0.5px solid white;
}


/* IMG FOR THE FOOD */
#first-menu {
  background-image: url('./assets/images/FOOD/FOOD1.png');
  padding-top: 20px;
}

#second-menu {
  background-image: url('./assets/images/FOOD/FOOD2.png');
}

#third-menu {
  background-image: url('./assets/images/FOOD/FOOD3.png');
}

#forth-menu {
  background-image: url('./assets/images/FOOD/FOOD4.png');
  border-bottom: none !important;
}

#fifth-menu {
  background-image: url('./assets/images/FOOD/FOOD5.png');
}

#sixth-menu {
  background-image: url('./assets/images/FOOD/FOOD6.png');
}

/* IMG FOR THE WINES */
#first-wine {
  background-image: url('./assets/images/WINES/WINE1.png');
  padding-top: 15px;
}


#second-wine {
  background-image: url('./assets/images/WINES/WINE2.png');
}

#third-wine {
  background-image: url('./assets/images/WINES/WINE3.png');
}


/* IMG FOR THE DRINKS */
#first-drinks {
  background-image: url('./assets/images/GINTONIC/AGGIN.png');
} 

#second-drinks {
  background-image: url('./assets/images/COCKTAILS/COCKTAILS1.png');
}

#third-drinks {
  background-image: url('./assets/images/COCKTAILS/COCKTAILS2.png');
}

#forth-drinks {
  background-image: url('./assets/images/COCKTAILS/COCKTAILS3.png');
}

#fifth-drinks {
  background-image: url('./assets/images/COCKTAILS/COCKTAILS4.png');
}

#sixth-drinks {
  background-image: url('./assets/images/MOCKTAILS/MOCKTAILS.png');
}

#seventh-drinks {
  background-image: url('./assets/images/SHOOTER/SHOOTER.png');
  background-position-y: 50px !important;
}

#eighth-drinks {
  background-image: url('./assets/images/SOFTSETALCOOL/SOFTETALCOOL1.png');
  border-bottom: none !important;
  background-position-y: 50px;
}

#ninth-drinks {
  background-image: url('./assets/images/SOFTSETALCOOL/SOFTETALCOOL1_Spirits.png');
  border-bottom: none !important;
  background-position-y: 50px;
  height: 290px;
}

#tenth-drinks {
  background-image: url('./assets/images/SOFTSETALCOOL/SOFTETALCOOL2.png');
  border-bottom: none !important;
  height: 480px !important;
  background-position: unset !important;
}

#eleventh-drinks {
  background-image: url('./assets/images/SOFTSETALCOOL/SOFTETALCOOL4.png');
  border-bottom: none !important;
  background-position: unset !important;
  height: 445px !important;
}

#twelveth-drinks {
  background-image: url('./assets/images/SOFTSETALCOOL/SOFTETALCOOL3.png');
  border-bottom: none !important;
}

#thirtheenth-drinks {
  background-image: url('./assets/images/SOFTSETALCOOL/SOFTETALCOOL5.png');
  border-bottom: none !important;
}

#separation-cocktail {
  background-image: url('./assets/images/SEPARATION_CATEGORY/SEP1.png');
  border-bottom: none !important;
  height: 200px !important;
}

#separation-soft {
  background-image: url('./assets/images/SEPARATION_CATEGORY/SEP2.png');
  border-bottom: none !important;
}

.sep-nav {
  color: whitesmoke;
}

.footer-menu {
  background: rgb(3,3,3);
  background: -webkit-gradient(linear, left top, right top, color-stop(8%, rgba(3,3,3,1)), color-stop(28%, rgba(0,0,0,1)), color-stop(94%, rgba(24,24,24,1)));
  background: -o-linear-gradient(left, rgba(3,3,3,1) 8%, rgba(0,0,0,1) 28%, rgba(24,24,24,1) 94%);
  background: linear-gradient(90deg, rgba(3,3,3,1) 8%, rgba(0,0,0,1) 28%, rgba(24,24,24,1) 94%);
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.corto-maltese-quote {
  color: whitesmoke;
  font-family: 'Nothing You Could Do', cursive;
  width: 40%;
  font-size: 14px;
}

.corto-maltese-quote p {
  text-align: right;
  margin: 0;
  margin-top: 5px;
  font-size: 14px;
}

.sep-footer-elements {
  height: 60%;
  width: 0.5px;
  background-color: whitesmoke;
}

.button-back-to-top {
  height: 5vh;
  margin-right: 10vw;
  background-color: transparent;
  color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  font-family: 'Nothing You Could Do', cursive;
  cursor: pointer;
  -webkit-animation: fadeIn 0.3s;
          animation: fadeIn 0.3s;
  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
} 